<img src="https://source.unsplash.com/random/?houses" alt="" id="show-img">
<div class="container">
  <div class="show-cards">
    <div class="show-card">
      <div class="show-card-info">
        <h1><%= @flat.name %></h1>
        <p><%= @flat.address %></p>
      </div>
      <div class="show-card-info">
        <h3>A bit more about this flat...</h3>
        <p><i><%= @flat.description %></i></p>
      </div>
    </div>
  </div>
</div>
